body {
	margin: 0;
	background-color: lightblue;
	color: black;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
    width: 100%;
    height: 100%;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1; /* TODO Solve this in HTML */
}

.dg.ac {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#webGL_container {
    width: 100%;
    height: 800px;
}

.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px black solid;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  transition: max-height 0.2s ease-out;
}

#controls_div {

}

#vehicle_controls {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: "vehicle_selection vehicle_orientation vehicle_offsets";
}

#vehicle_selection {
  grid-area: vehicle_selection;
}

#vehicle_offsets {
  grid-area: vehicle_offsets;
}

#vehicle_orientation {
  grid-area: vehicle_orientation;
}

#sensor_controls {

}